{
  //emotion needs to be the first plugin the array
  "plugins": [
    "emotion",
    "react-hot-loader/babel",
    [
      "@emotion/babel-plugin-jsx-pragmatic",
      {
        "module": "theme-ui",
        "import": "jsx",
        "export": "jsx"
      }
    ],
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "jsx",
        "pragmaFrag": "React.Fragment"
      }
    ],
    ["@babel/plugin-transform-regenerator"],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}
