# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
build
dist
.rpt2_cache
src/types/generated/*
tsconfig.tsbuildinfo
compiled.css
storybook-static
packages/*/dist
packages/*/lib
.rollup*
generated
stats.html
*.typegen*

# misc
.DS_Store
.env
.env.local
.env.development
.env.test.local
.env.production
.env.js
package-lock.json
yarn.lock
.next
.sentryclirc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
example/.docz/.cache
.eslintcache
lerna-debug.log

# Local Netlify folder
.docz
.netlify

# Tests
packages/*/coverage
.idea
