# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
build
dist
.rpt2_cache
src/types/generated/*
tsconfig.tsbuildinfo
compiled.css
storybook-static
packages/*/dist
packages/*/lib
.rollup*
generated
stats.html
.vercel

# misc
.DS_Store
.env
.env.local
.env.development
.env.test.local
.env.production
.env.js
package-lock.json
yarn.lock
.next
.sentryclirc
*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
example/.docz/.cache
.eslintcache
lerna-debug.log

# Local Netlify folder
.docz
.netlify

# Tests
packages/*/coverage
.idea
coverage/base.css
coverage/block-navigation.js
coverage/clover.xml
coverage/favicon.png
coverage/index.html
coverage/lcov.info
coverage/prettify.css
coverage/prettify.js
coverage/sort-arrow-sprite.png
coverage/sorter.js
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/middlewares/error.ts.html
coverage/lcov-report/middlewares/index.html
coverage/lcov-report/utils/ApiError.ts.html
coverage/lcov-report/utils/index.html
coverage/lcov-report/validations/env.validation.ts.html
coverage/lcov-report/validations/index.html
coverage/lcov-report/validations/mailserver.validation.ts.html
coverage/middlewares/error.ts.html
coverage/middlewares/index.html
coverage/utils/ApiError.ts.html
coverage/utils/index.html
coverage/validations/env.validation.ts.html
coverage/validations/index.html
coverage/validations/mailserver.validation.ts.html
