body {
  max-width: none;
  padding: 0;
}

@tailwind base;
@tailwind components;

:is(a, button, input):focus {
  @apply outline-none ring;
}

.menu-link {
  @apply text-sm font-semibold p-3 rounded-lg hover:shadow-inner hover:bg-gray-300;
}

@screen md {
  .menu-link {
    @apply text-lg font-bold;
  }
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr min(theme("screens.lg"), 100%) 1fr;
  grid-template-rows: max-content 1fr;
}
@tailwind utilities;

@layer utilities {
  .flex-basis-0 {
    flex-basis: 0;
  }
}

.pattern-background {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23000000' fill-opacity='0.05'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}
