@import url("https://cdn.jsdelivr.net/npm/water.css@2/out/water.css");

body {
  max-width: none;
  padding: 0;
}

@tailwind base;
@tailwind components;

button:focus,
a:focus {
  @apply shadow-outline outline-none;
}

.menu-link {
  @apply text-sm font-semibold p-3 rounded-lg;
}

.menu-link:hover {
  @apply shadow-inner bg-gray-500;
}

@screen md {
  .menu-link {
    @apply text-lg font-bold;
  }
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr min(theme("screens.lg"), 100%) 1fr;
  grid-template-rows: 8fr 10fr;
}

@tailwind utilities;
