name: Deploy Preview
on:
  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
  FLY_ORG: open-decision
  FLY_REGION: fra
  ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}
  ADMIN_ACCOUNT_WHITELIST: ${{ secrets.ADMIN_ACCOUNT_WHITELIST }}
  DEV_ACCOUNT_WHITELIST: ${{ secrets.DEV_ACCOUNT_WHITELIST }}
  EMAIL_FROM_ADDRESS: ${{ secrets.EMAIL_FROM_ADDRESS }}
  FEATURE_WHITELIST: ${{ secrets.FEATURE_WHITELIST }}
  PUBLIC_API_DOCUMENTATION: ${{ secrets.PUBLIC_API_DOCUMENTATION }}
  REFRESH_TOKEN_SECRET: ${{ secrets.REFRESH_TOKEN_SECRET }}
  SMTP_HOST: ${{ secrets.SMTP_HOST }}
  SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
  SMTP_PORT: ${{ secrets.SMTP_PORT }}
  SMTP_USERNAME: ${{ secrets.SMTP_USERNAME }}
  PORT: 8080
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_SCOPE: open-decision

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Format and Lint

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup environment
        uses: ./.github/actions/setup

      - name: Format and Lint
        uses: ./.github/actions/lint

  typecheck:
    runs-on: ubuntu-latest
    name: Typecheck
    environment: Preview

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup environment
        uses: ./.github/actions/setup
      - name: Typecheck
        uses: ./.github/actions/typecheck

  preview_api:
    runs-on: ubuntu-latest
    name: "Deploy api"
    environment: Preview

    env:
      APP_NAME: ${{format('pr-{0}-open-decision', github.event.pull_request.number)}}
      DB_NAME: ${{format('pr-{0}-open-decision-db', github.event.pull_request.number)}}
      CONFIG: apps/api/fly.toml

    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Create App
        continue-on-error: true
        run: flyctl apps create --name ${{env.APP_NAME}}
      - name: Set secrets for app
        shell: bash
        continue-on-error: true
        run: |
          flyctl secrets set NODE_ENV="test" PORT="$PORT" OD_BUILDER_ENDPOINT="$OD_BUILDER_ENDPOINT" ACCESS_TOKEN_SECRET="$ACCESS_TOKEN_SECRET" ADMIN_ACCOUNT_WHITELIST="$ADMIN_ACCOUNT_WHITELIST" DEV_ACCOUNT_WHITELIST="$DEV_ACCOUNT_WHITELIST" EMAIL_FROM_ADDRESS="$EMAIL_FROM_ADDRESS" FEATURE_WHITELIST="$FEATURE_WHITELIST" PUBLIC_API_DOCUMENTATION="$PUBLIC_API_DOCUMENTATION" REFRESH_TOKEN_SECRET="$REFRESH_TOKEN_SECRET" SMTP_HOST="$SMTP_HOST" SMTP_PASSWORD="$SMTP_PASSWORD" SMTP_PORT="$SMTP_PORT" SMTP_USERNAME="$SMTP_USERNAME" --app "$APP_NAME"
      - name: Set regions for deploy
        run: flyctl regions set fra ams --app ${{env.APP_NAME}}
      - name: Attach database
        continue-on-error: true
        run: flyctl postgres attach od-preview-db --app ${{env.APP_NAME}}
      - name: Deploy
        id: deploy
        run: flyctl deploy --config ${{env.CONFIG}} --app ${{env.APP_NAME}} --region ${{env.FLY_REGION}} --strategy immediate
      - name: Set ressources
        id: resources
        run: flyctl scale memory 512 --app ${{env.APP_NAME}}

  preview_builder:
    runs-on: ubuntu-latest
    name: "Deploy builder"
    environment: Preview

    outputs:
      PREVIEW_URL: ${{ steps.step1.outputs.PREVIEW_URL }}

    env:
      NEXT_PUBLIC_OD_API_ENDPOINT: ${{format('https://pr-{0}-open-decision.fly.dev', github.event.pull_request.number)}}
      NEXT_PUBLIC_OD_WEBSOCKET_ENDPOINT: ${{format('wss://pr-{0}-open-decision.fly.dev', github.event.pull_request.number)}}
      OD_BUILDER_ENDPOINT: ${{format('https://open-decision-{0}.vercel.app', github.event.pull_request.number)}}
      NEXT_PUBLIC_OD_BUILDER_ENDPOINT: ${{format('https://open-decision-{0}.vercel.app', github.event.pull_request.number)}}

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set api endpoint end var
        continue-on-error: true
        run: |
          yarn dlx vercel env rm NEXT_PUBLIC_OD_API_ENDPOINT preview ${{ github.head_ref }} --token ${{secrets.VERCEL_TOKEN}} --yes || true || true
          echo ${{ env.NEXT_PUBLIC_OD_API_ENDPOINT }} |  yarn dlx vercel env add NEXT_PUBLIC_OD_API_ENDPOINT preview ${{ github.head_ref }} --token ${{secrets.VERCEL_TOKEN}} || true

      - name: Set od app endpoint end var
        continue-on-error: true
        run: |
          yarn dlx vercel env rm NEXT_PUBLIC_OD_BUILDER_ENDPOINT preview ${{ github.head_ref }} --token ${{secrets.VERCEL_TOKEN}} --yes || true
          echo ${{ env.NEXT_PUBLIC_OD_BUILDER_ENDPOINT }} |  yarn dlx vercel env add NEXT_PUBLIC_OD_BUILDER_ENDPOINT preview ${{ github.head_ref }} --token ${{secrets.VERCEL_TOKEN}} || true

      - name: Set api websocket endpoint env var
        continue-on-error: true
        run: |
          yarn dlx vercel env rm NEXT_PUBLIC_OD_WEBSOCKET_ENDPOINT preview ${{ github.head_ref }} --token ${{secrets.VERCEL_TOKEN}} --yes || true
          echo ${{ env.NEXT_PUBLIC_OD_WEBSOCKET_ENDPOINT }} | yarn dlx vercel env add NEXT_PUBLIC_OD_WEBSOCKET_ENDPOINT preview ${{ github.head_ref }} --token ${{secrets.VERCEL_TOKEN}} || true

      - name: Deploy to Vercel Action
        uses: BetaHuhn/deploy-to-vercel-action@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          ALIAS_DOMAINS: |
            {REPO}-{PR}.vercel.app
          PR_PREVIEW_DOMAIN: "{REPO}-{PR}.vercel.app"

  e2e_tests:
    name: Playwright tests
    runs-on: ubuntu-latest
    needs: [preview_builder, preview_api]
    environment: Preview

    env:
      DATABASE_URL: ${{secrets.DATABASE_URL_PROXIED}}

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup environment
        uses: ./.github/actions/setup

      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl proxy 5432 -a od-preview-db &
      - run: yarn dlx playwright install --with-deps
      - name: Run tests
        run: yarn nx test e2e
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: playwright-report
          path: apps/e2e/playwright-report
